@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
}

<partial name="Guide" />

<div class="main">
    <partial name="Menu" />
    <partial name="Home" />
</div>