@{

    ViewData["Title"] = "Menu";
}
<div class="menu">
    <a class="button addspinner" href="/">Accueil</a>

    @if (!Startup.GetPathOfConfigFile().Equals(string.Empty))
    {
        if (!User.Identity.IsAuthenticated)
        {
            <a class="button addspinner" href="Authentification/Login">Connexion</a>
        }
        else
        {
            <a class="button addspinner" href="Authentification/Logout">Déconnexion</a>
            if (!string.IsNullOrEmpty(app.Settings.ApplicationSettings.CompanyName))
            {
                <a class="button addspinner" href="/Request">Requêtes</a>
                <a class="button addspinner" href="/Customers">Clients</a>
                <a class="button addspinner" href="/Import">Import</a>
                <div class="companyname">@app.Settings.ApplicationSettings.CompanyName</div>
            }
        }
    }

    <a class="button secondary" href="https://developer.sage.com/api/100/fr/saas/guides/samples/samplecharp/" target="_blank">Aide</a>
</div>

<div class="spinner">
    <img src="~/spinner.svg" />
</div>
<span class="BETA">BETA</span>

<script src="~/scripts.js"></script>
