@model app.Models.Customer

<partial name="Guide" />

<div class="main">
    <partial name="Menu" />
    <form id="request" class="form" action="/Customers/edit/@Model.Id" method="post" spellcheck="false" autocomplete="off">
        <input class="field__input" type="hidden" id="id" name="id" value="@Model.Id" />
        <input class="field__input" type="hidden" id="type" name="type" value="Client" />
        <div class="titlepage">
            <h2>Modifier le client @Model.Numero</h2>
        </div>
        <partial name="AddEdit" />
    </form>
</div>

